<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Swager pet store test suite"  >
    <suite-files>
        <suite-file path="petTestsSuite.xml" />
        <suite-file path="userTestsSuite.xml" />
        <suite-file path="storeTestsSuite.xml" />
    </suite-files>
</suite>